*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(45, 45, 70);
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(red,rgb(238, 31, 159));
    clip-path: circle(30% at right 70%);
    z-index: -10;

}
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(83, 34, 195),rgb(255, 40, 40));
    clip-path: circle(20% at 10% 10%);
    z-index: -10;

}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    font-size: 2em;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 2px 2px 0 rgba(0, 0, 0,0.1);
    transition: 0.5s ease;
}
header img{
    size: 10px;
    z-index: 100;
}
header .toggle{
    position: relative;
    width: 40px;
    height: 40px;
    background: url(../image/dash.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .toggle.active{
    background: url(../image/close.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 20px;
}

header .toggle:before{
    content: "menu";
    position: absolute;
    right: 45px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 2px 5px;
    background: #fff;
    color: #111;
}
header .toggle.active::before{
    content: 'Close';
    
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.glass{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(15px);
    box-shadow: 10px 0 15px rgba(0, 0, 0,0.1);
    transition: 0.5s;
    transition-delay: 0.5s;
}
section.active .glass{
    width: 100%;
    backdrop-filter: blur(20px);
    transition-delay: 0s;
}
section .content{
    position: relative;
    z-index: 10;
    transition: 0.5s;
    transition-delay: 0.5s;
}
section.active .content{
    opacity: 0;
    visibility: hidden;
    transform: translate(-200px);
    /* z-index: -5; */
    transition-delay: 0s;
}
section .sci{
    position: absolute;
    bottom: 40px;
    right: 100px;
    display: flex;
    z-index: 100;
}
section .sci li{
    list-style: none;
    margin: 5px;
    padding: 0.6px;
    background: #fff;
    transition: 0.5s;
    transition-delay: calc(0.2s * var(--i));

}
section.active .sci li 
{
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
}
section .sci li a
{
    color: #111;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}
section .navigation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}
section .navigation li{
    list-style: none;
    text-align: center;
    margin: 15px 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: translateX(200px);
    transition-delay: calc(0.2s * var(--i));
}
section.active .navigation li{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}
section .navigation li a{
    color: #111;
    font-size: 1.2em;
    letter-spacing: 4px;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #fff;
    padding: 4px 10px;
    display: inline-block;
}
section .navigation li a:hover{
    background: #111;
    color: #fff;
    letter-spacing: 10px;
    text-transform: lowercase;
}

/* this is for the float box */
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-top: 100px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card{
    position: relative;
    width: 250px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    border-top: 1px solid  rgba(255, 255, 255, 0.5);
    border-left: 1px solid  rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.container .card .content-c{
    padding: 20px;
    text-align: center;
    transform: translateY(0px);
    opacity: 1;
    transition: 0.5s;
}
.container .card .content-c:hover{
  
    transform: translateY(0px);
    opacity: 2;
   
}
.container .card .content-c h2{
    position: absolute;
    top: -30px;
    right: 30px;
    display: contents;
    font-size: 8em;
    color: rgba(225, 225, 225, 0.05);
    pointer-events: none;
}
.container .card .content-c h3{
    font-size: 1.8em;
    color: aliceblue;
    z-index: 1;
}
.container .card .content-c p{
    font-size: 1em;
    color: antiquewhite;
    font-weight: 300;
}
.container .card .content-c a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: white;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container .card .content-c a:hover{
    background: rgb(0, 0, 0);
    color: rgb(250, 250, 250);
    letter-spacing: 10px;
    text-transform: lowercase;
}

@media (max-width: 990px){
    header{
        padding: 20px;
    }
    section .sci{
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    .glass{
        width: 50%;
    }
}
@media (max-width: 441px){
   
  
    section .sci{
        bottom: 0;
        right: 0;

    }
}
@media (max-width: 591px){

    header .toggle:before{
        content: "";
        background: transparent;
    }
}