@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(113 115 115 / 76%);
}
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

/* scroll bar design start here */
 
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(51, 51, 51, 0.774);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom,rgba(43, 43, 43, 0.74),rgba(37, 37, 37, 0.39),rgba(51, 51, 51, 0.733));
    border-radius: 10px;
}
/* Header Section Start Here  */

header > h1 {
    text-align: center;
    margin: 0;
    padding: 25px;
    /* will-change: background; */
    color: burlywood;
    background: linear-gradient(to bottom right,black 30%,black 70%,black 100%);
    animation: bac 1s infinite  ease alternate;
    will-change: letter-spacing;
    
}

header > h1 > span {
    color: blueviolet;
    cursor: pointer;
}

.html:hover,
.css:hover,
.js:hover {
    animation: spc 0.5s infinite ease-in-out alternate;
    color: darkcyan;
}

nav {
    background: rgb(58, 53, 53,0.4);
    position: sticky;
    top: 0;
    z-index: 200;
}

nav > ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

nav > ul > li {
    text-transform: uppercase;
}

nav > ul > li > a{
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
    border-radius: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    
}

nav > ul > li > a:hover {
    background: white;
    color: black;
}

/* about section start here */
.aboutSection {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(grey ,black);
    min-height: calc(100vh - 163px);
}

.about {
    padding: 40px;
    background: linear-gradient(to right bottom,rgba(245, 245, 245, 0.514),rgba(245, 245, 245, 0.301));
    border-radius: 4px;
    transition: all 0.5s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.about h2 {
    padding: 8px;
}
.about span {
    font-size: 17px;
    line-height: 20px;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    letter-spacing: 1px;
}
.about .first {
    margin-top: 40px;
}
.about span a {
    text-decoration: none;
    font-weight: 650;
    color: purple;
}
.godown {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.godown a {
    text-decoration: none;
    background-color: blanchedalmond;
    padding: 2px 20px;
    border-radius: 4px;
}
.godown a:hover {
    padding: 0 20px;
    border: 2px solid grey;
}

 

/* Project Section start here  */

.projectSection {
    
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}
.projectSection h2 {
    font-size: xx-large;
    padding: 15px;
}



/* projection Section Skeleton */
.index {
    position: absolute;
    color: white;
    border-radius: 2px;
    background-color: tomato;
    padding: 5px 10px;
    top: 0;
    left: 0;
    z-index: 2;

}

.display {
    max-height: 868px;
    overflow-y: scroll;    
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.skeleton {
    /* opacity: 0.7; */
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
}
.skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
}
.skeleton-head {
    width: 100%;
    height: .7rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
}
.skeleton-head:last-child {
    margin-bottom: 0;
    width: 75%;
}
.card {
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 16px;
    border-radius: 4px;
    margin: 8px;
}

.header {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.header-img {
    width: 100%;
    min-height: 127.5px;
    object-fit: cover;
    border-radius: 4px;
    /* margin-right: 1rem; */
    flex-shrink: 0;
}

.title {
    margin-top: 2px;
    width: 95%;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: capitalize;
    /* word-wrap: none; */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btns {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    width: 100%;
    transform: translateX(-1rem);
    display: flex;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.btn {
    width: 113px;
    margin: 4px;
    padding: 12px;
    text-decoration: none;
    font-family: cursive;
    background-color: rgba(0, 128, 128, 0.76);
    color: white;
    border-radius: 4px;
}

.card:hover .btns{
    opacity: 1;
}

/* contact section start here  */

.contactSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background: rgb(22, 22, 22);
    color: blanchedalmond;
}

.contact {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact h3 {
    font-family: cursive;
    font-size: 23px;
}

.connect {
    margin-top: 20px;
}

.connect a img {
    width: 70px;
    padding: 8px;
}

.connect a {
    text-decoration: none;
}
.arr {
    position: absolute;
    top: -10px;
    background: rgb(22, 22, 22);
    font-size: 20px;
    border-radius: 50%;
}

.arr a {
    text-decoration: none;
    padding: 4px;
}

footer {
    text-align: center;
    color: white;
    background: black;
}
@media (max-width:497px) {
    nav > ul > li > a{
        font-size: 20px;
    }
}
@media (max-width:387px) {
    nav > ul > li > a{
        font-size: 15px;
        padding: 10px;
    }
}
@media (max-width:313px) {
    nav > ul > li > a{
        font-size: 15px;
        padding: 12px 3px;
    }
    body{
        font-size: 10px;
    }
    .about {
        font-size: 15px;
    }
    .about span {
        font-size: 12px;
    }
}
@media (max-width:1236px) {
    .display {
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:974px) {
    .display {
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:910px) {
    .display {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:620px) {
    .display {
        grid-template-columns: repeat(1,1fr);
    }
}

@keyframes skeleton-loading {
    0% {
      background-color: hsla(199, 20%, 70%, 0.708);
    }
  
    100% {
      background-color: hsla(204, 20%, 95%, 0.708);
    }
}

@keyframes bac {
    0%{
        background: linear-gradient(to bottom right,black ,rgb(56, 56, 56) ,black );
    }
    50%{
        background: linear-gradient(to bottom right,black ,black ,rgb(56, 56, 56) );
    }
    100%{
        background: linear-gradient(to bottom right,rgb(56, 56, 56) ,black ,black );
    }
}
@keyframes spc {
    0%{
        letter-spacing: 10px;
    }
    100%{
        letter-spacing: -4px;
    }
}
